* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}


.Navbar{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 15px 8%;
}

.Navbar ul{
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 #000;
}

.Navbar li {
  display: inline-block;
  padding: 5px 20px;
  margin: 0 10px;
  
}





















.card {
  width: 260px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-body {
  padding: 15px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-desc {
  font-family: sans-serif;
  font-size: 16px;
  color: #555;
}
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 100px;
  gap: 20px;
}


/* css for About */

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 100px;
  gap: 20px;
}
























/* RootLayout.css or App.css */
.root-layout {
  display: flex;           /* Use flex layout */
  flex-direction: column;  /* Stack vertically: Navbar → main → Footer */
  min-height: 100vh;      /* Full viewport height */
  flex-grow: 1;
}

main {
  flex: 1;                 /* Take all available space between navbar and footer */
}










/* Footer.css */
.footer {
  /* background-color: #222;       
  color: #fff;                  
  text-align: center;          
  padding: 20px 8px;           
  font-size: 14px;              
  border-top: 1px solid #444;   
  margin-top: 100px; */

  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 8px;
  font-size: 14px;
  border-top: 1px solid #444;
  margin-top: auto; /* Push footer to bottom if page content is short */
  

}

/* Links inside footer */
.footer a {
  margin-top: auto;
  color: #1e90ff;               /* Blue links */
  margin: 0 10px;               /* Spacing between links */
  text-decoration: none;      /* Remove underline */
}

.footer a:hover {
  text-decoration: underline;   /* Hover effect */
}

/* Optional: make it responsive */
@media (max-width: 600px) {
  .footer {
    font-size: 12px;
    padding: 15px 5px;
  }
}




.card-link-box {
  text-align: center; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.card-link-box a {
  word-break: break-all;
  margin-top: 4px;
}
